.description-container{
    display: flex;

    .image-wrapper{
        margin: $image-margin-lg;

        img{
            height: $image-size-lg;
            border-radius: 1rem;
        }
    }

    .description-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: center;

        background-color: $box-color;
        color: $text-dark-color;
        text-align: left;

        border-radius: 1rem;
        box-shadow: 1rem 1rem $black;

        margin: $description-margin-lg;
        padding: $description-padding-lg;

        a{
            margin-right: 1rem;
            font-size: 2rem;
            color: lighten($black,25%);
        }
        a:hover{
            color:$white;
        }
    }

    @media only screen and (max-width: 1280px) {
        .image-wrapper{
            margin: $description-margin-md;

            img{
                height:15rem;
            }
        }

        .description-wrapper{
            margin: $description-margin-md;
            padding: $description-padding-md;
        }
    }

    @media only screen and (max-width: 768px) {
        flex-direction: column;

        .image-wrapper{
            order: 1;
            margin: $description-margin-sm;
        }

        .description-wrapper{
            order: 2;
            margin: $description-margin-sm;
            padding: $description-padding-sm;
        }
    }
}

.skills-container{
    display: block;

    .title-wrapper{
        margin: $description-margin-lg;

        text-align: center;
    }

    .description-wrapper{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: center;

        background-color: $box-color;
        color: $text-dark-color;

        border-radius: 1rem;
        box-shadow: 1rem 1rem $black;

        margin: $description-margin-lg;
        padding: $description-padding-lg;
    }

    .showcase-wrapper{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        background-color: $box-color;
        color: $text-dark-color;

        border-radius: 1rem;
        box-shadow: 1rem 1rem $black;

        margin: $description-margin-lg;
        padding: $description-padding-lg;

        .item{
            margin-top: 2rem;
            margin-bottom: 2rem;

            width: 33%;

            font-size: 5rem;
            text-align: center;
        }
    }

    @media screen and (max-width: 1280px) {
        .title-wrapper{
            margin: $description-margin-md;
        }
        .description-wrapper, .showcase-wrapper{
            margin: $description-margin-md;
            padding: $description-padding-md;
            .item{
                font-size: 4rem;
            }    
        }
    }
    @media screen and (max-width: 768px) {
        .title-wrapper{
            margin: $description-margin-sm;
        }
        .description-wrapper, .showcase-wrapper{
            margin: $description-margin-sm;
            padding: $description-padding-sm;
            .item{
                font-size: 2rem;
            }    
        }
    }
}