.about-container{
    display: flex;

    .image-wrapper{
        margin: $image-margin-lg;

        img{
            height: $image-size-lg;
            border-radius: 1rem;
        }
    }

    .description-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: center;

        background-color: $box-color;
        color: $text-light-color;
        text-align: left;

        border-radius: 1rem;
        box-shadow: 1rem 1rem $black;

        margin: $description-margin-lg;
        padding: $description-padding-lg;

        a{
            margin-right: 1rem;
            font-size: 2rem;
            color: darken($white,25%);
        }
        a:hover{
            color:$white;
        }
    }

    @media only screen and (max-width: 1280px) {
        .image-wrapper{
            margin: $description-margin-md;

            img{
                height:15rem;
            }
        }

        .description-wrapper{
            margin: $description-margin-md;
            padding: $description-padding-md;
        }
    }

    @media only screen and (max-width: 768px) {
        flex-direction: column;

        .image-wrapper{
            order: 1;
            margin: $description-margin-sm;
        }

        .description-wrapper{
            order: 2;
            margin: $description-margin-sm;
            padding: $description-padding-sm;
        }
    }
}