@keyframes load_border{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.border-container{
    padding: $container-padding-lg;
    text-align: center;

    animation: load_border $loading-time;

    background-color: $secondary-color;
    h1{
        color: $text-dark-color;
    }

    @media screen and (max-width: 1280px) {
        padding: $container-padding-md;
    }
    @media screen and (max-width: 768px) {
        padding: $container-padding-sm;
    }
}