.contact-container{
    display:flex;
    flex-direction: column;
    align-content: center;

    .title-wrapper{
        text-align: center;
    }

    .description-wrapper{
        background-color: $box-color;
        color: $text-dark-color;
        text-align: left;

        border-radius: 1rem;
        box-shadow: 1rem 1rem $quad-color;

        margin: $description-margin-lg;
        padding: $description-padding-lg;

        font-size: 1.5rem;
    }

    .contact-form{
        background-color: $box-color;
        
        border-radius: 1rem;
        box-shadow: 1rem 1rem $quad-color;

        margin: $description-margin-lg;
        padding: $description-padding-lg;

        .form-field{
            background-color: $secondary-color;
        }

        .form-submit{
            margin: $button-margin-lg;
            margin-left: 0;
        }

        .buttom-custom{
            padding: 1rem;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            background-color: $primary-color;
            border-radius: 1rem;
            color: $text-dark-color;
    
            font-size: 1rem;
            font-family: $font-family;
            text-transform: unset;
            cursor: pointer;
        }
    
        .buttom-custom:hover{
            background-color: $secondary-color;
            border-radius: 1rem;
            color: $text-dark-color;
        }
    }

    @media screen and (max-width: 1280px) {
        .contact-form, .description-wrapper{
            margin: $description-margin-md;
            padding: $description-padding-md;

            .form-submit{
                margin: $button-margin-md;
                margin-left: 0;
            }
        }
        .contact-form{
            margin-top: 1rem;
        }
    }
    @media screen and (max-width: 768px) {
        .contact-form, .description-wrapper{
            margin: $description-margin-sm;
            padding: $description-padding-sm;

            .form-submit{
                margin: $button-margin-sm;
                margin-left: 0;
            }
        }
    }
}