.header-container{
    display: flex;
    justify-content: space-between;
    
    padding: 1rem;
    padding-left: $header-padding-lg;
    padding-right: $header-padding-lg;

    background-color: $header-color;

    a{
        display: flex;
        align-items: center;
    }
    img{
        height: 3rem;
    }

    @media only screen and (max-width: 1280px) {
        padding-left: $header-padding-md;
        padding-right: $header-padding-md;
        img{
            height: 2rem;
        }
    }

    @media only screen and (max-width: 768px) {
        padding-left: $header-padding-sm;
        padding-right: $header-padding-sm;
        a{
            display: flex;
            align-items: flex-start;
        }
    }
}

.navbar-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;

    font-family: $font-family;

    a{
        text-decoration: none;
    }

    .menu-item{
        margin-left: 1rem;
        padding: 1rem;
        color: $text-dark-color;

        font-size: 1.5rem;
    }

    .menu-item:hover{
        background-color: $tertiary-color;
        border-radius: 1rem;
        color: $text-dark-color;
    }

    .icon-bars{
        display: none;
    }

    @media screen and (max-width: 1280px) {
        .menu-item{
            padding: 1rem;
        }
    }
}

@media only screen and (max-width: 768px) {
    .navbar-wrapper{
        .menu-item{
            display:none;
        }

        .icon-bars{
            display: block;
            margin: $button-margin-sm;
        }

        .icon-bars:hover{
            cursor: pointer;
        }
    }

    .navbar-wrapper.responsive{
        display: block;

        .icon-bars{
            padding-top: 1.5rem;
            text-align: right;
        }

        .menu-item{
            display: block;
            text-align: right;
            padding: 1rem;
            animation: load_animation $loading-time;
        }
    }
}