.projects-container{
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: $container-margin-lg;

    @keyframes shadow_load{
        from{
            box-shadow: unset;
        }
        to{
            box-shadow: 1rem 1rem $black;
        }
    }

    .projects-wrapper{
        background-color: $box-color;
        color: $text-dark-color;

        border-radius: 1rem;

        margin: $description-margin-lg;
        margin-top: 1rem;
        margin-bottom: 1rem;

        padding: $description-padding-lg;

        font-size: 1.5rem;

        a{
            color: lighten($black, 25%);
            font-size: 2rem;
            margin-right: 1rem;
        }
        a:hover{
            color:$white;
        }
    }

    .projects-wrapper:hover{
        box-shadow: 1rem 1rem $black;
        animation: shadow_load 0.5s ease;
    }

    @media only screen and (max-width: 1280px) {
        margin: $container-margin-md;
        .projects-wrapper{
            margin: $description-margin-md;
            padding: $description-padding-md;
        }
    }
    @media only screen and (max-width: 768px) {
        margin: $container-margin-sm;
        .projects-wrapper{
            margin: $description-margin-sm;
            padding: $description-padding-sm;
        }
    }
}